@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.pokemons {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	width: 90%;
	margin: 0 auto;
}

.pokemon {
	background-color: #ccc;
	margin: 2em 1em;
	text-align: center;
}

.pokemon .name {
	background-color: #a0a0a0;
	color: #fefefe;
	padding: .5em 0;
	text-align: center;
	text-transform: capitalize;
}

.pokemon .images {
	display: flex;
	padding: 1em 0;
}

.pokemon .image {
	flex-grow: 1;
}
.pokemon img {
	filter: grayscale(100%);
	max-width: 100%;
	height: auto;
}
.pokemon.owned img {
	filter: sepia(100%);
}
.pokemon.has-default [data-form=front_default] {
	filter: none;
}
.pokemon.has-female [data-form=front_female] {
	filter: none;
}
