@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.pokemons {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	width: 90%;
	margin: 0 auto;
}

.pokemon {
	background-color: #ccc;
	margin: 2em 1em;
	text-align: center;
}

.pokemon .name {
	background-color: #a0a0a0;
	color: #fefefe;
	padding: .5em 0;
	text-align: center;
	text-transform: capitalize;
}

.pokemon .images {
	display: flex;
	padding: 1em 0;
}

.pokemon .image {
	flex-grow: 1;
	position: relative;
}
.pokemon img {
	cursor: pointer;
	filter: grayscale(100%);
	max-width: 100%;
	height: auto;
}
.pokemon img:hover {
	filter: grayscale(50%);
}
.pokemon.owned img {
	filter: sepia(100%);
}
.pokemon.has-default [data-form=front_default] {
	filter: none;
}
.pokemon.has-female [data-form=front_female] {
	filter: none;
}

.image .loader {
	display: none;
	width: 25px;
	height: 25px;
	position: absolute;
	top: calc(50% - 12.5px);
	left: calc(50% - 12.5px);
}
.image.loading .loader {
	display: block;
}
.image.loading {
	filter: opacity(.5);
}

/* copied from https://codepen.io/alanshortis/pen/eJLVXr */
.loader {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: .25rem solid #a0a0a0;
    border-top-color: #fefefe;
    animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
